In [1]:
import pymongo
import pprint
from pprint import PrettyPrinter
import pandas as pd
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
import os
import json
import time
from datetime import datetime
import re
import psycopg2

In [16]:
connection_string = "mongodb+srv://amrutha:root2000@cluster0.mrubvba.mongodb.net/"
client = MongoClient(connection_string)
db = client["twitter"]
c1 = db["alltweets"]
c2 = db["retweets2"]

collection=db['retweets2']
with open("retweets2.json", "r") as file:
    data = json.load(file)

# Insert JSON objects into the collection
collection.insert_many(data)

collection=db['retweets1']
with open('retweets.json','r') as file:
    data = json.load(file)

# Insert JSON objects into the collection
collection.insert_many(data)

In [6]:
# Connect to PostgreSQL
conn = psycopg2.connect(
    dbname="twitter",
    user="postgres",
    password="root2000",
    host="localhost",
    port="5432"
)
cur = conn.cursor()

In [43]:
def query(sql_query, conn):
    # Create a cursor object
    cur = conn.cursor()
    # Execute the SQL query
    cur.execute(sql_query)
    # Fetch the results
    results = cur.fetchall()
    # Get column names
    columns = [desc[0] for desc in cur.description]
    # Create a DataFrame from the results and column names
    df = pd.DataFrame(results, columns=columns)
    # Close the cursor
    cur.close()
    return df

In [44]:
def search_by_user1(user_name=None):
    try:
        df_users= query(f"""SELECT id_str,name,screen_name,verified,followers_count,friends_count FROM users WHERE (name LIKE '%{user_name}%') OR (screen_name LIKE '%{user_name}%')""",conn)
        return df_users
    except Exception as e:
        print(f"Retrieval of Tweet from username failed : {e}")

In [45]:
d=search_by_user1("kendall")
d

,id_str,name,screen_name,verified,followers_count,friends_count
0,1144669339599200256,Ken kendall,Kenkendall19,False,24,126
1,151063586,Clifton Kuykendall,AppleChilli,False,308,100

### top_10

In [7]:
def get_top_data(data_type):
    try:
        if data_type == "users":
            cur.execute(f"""SELECT name, screen_name, followers_count, friends_count, verified, description, location FROM users ORDER BY followers_count DESC LIMIT 10""")
            user_data = cur.fetchall()
            df = pd.DataFrame(user_data, columns=['name', 'screen_name', 'followers_count', 'friends_count', 'verified', 'description', 'location'])      
            return df
        elif data_type == "tweets":
            tweets = c1.find({}, {"text": 1, "user_id": 1, '_id': 0}).sort("retweet_count", -1).limit(10)
            db_final = pd.DataFrame(list(tweets))
            for index, row in db_final.iterrows():
                user_id = row['user_id']
                cur.execute(f"""SELECT screen_name FROM users WHERE id_str = '{user_id}'""")
                user_data = cur.fetchone()
                if user_data:
                    user_info = list(user_data)
                    db_final.loc[index, 'screen_name'] = user_info[0]
            return db_final.drop('user_id',axis=1)
        else:
            print("Invalid data type")
            return None
    except Exception as e:
        print(f"Retrieval of data failed: {e}")

In [9]:
get_top_data('tweets')

                                                text      screen_name
0  *corona virus enters my body*\n\nThe 4 Flintst...       HtownBabyG
1  When this Corona shit passes we have to promis...          Khydill
2  THIS MAN IS A GENIUS he figured out the Corona...     _AyeeCarlos_
3         ‚Äúcorona time ‚Äúüò≠üò≠üò≠üò≠ https://t.co/iXBMHVcFoY  nichellexnicole
4  This is Dr. Usama Riaz. He spent past weeks sc...        _SJPeace_
5  Nobody: \nMe and the homies on our $41 corona ...     LyanneSavage
6  Due to Corona, we officially have three days o...    JennEngineer_
7  future grandson: ‚Äúhey grandpa want a corona?‚Äù\...     YEESSSIIIRRR
8  yeah it‚Äôs a new generation we gon call them qu...           xsqoof
9                         Corona virus....its coming    Marco_Acortes

In [94]:
# Record start time
start_time = time.time()

# Call the function
top_users_df = get_top_data("tweets")

# Record end time
end_time = time.time()

# Calculate elapsed time
elapsed_time = end_time - start_time
elapsed_time

0.06135106086730957

In [10]:
get_top_data('users')

,name,screen_name,followers_count,friends_count,verified,description,location
0,Narendra Modi,narendramodi,55786179,2364,True,Prime Minister of India,India
1,The New York Times,nytimes,46361159,904,True,News tips? Share them here: http://nyti.ms/2FV...,New York City
2,Amitabh Bachchan,SrBachchan,41596464,1833,True,"""‡§§‡•Å‡§Æ‡§®‡•á ‡§π‡§Æ‡•á‡§Ç ‡§™‡•Ç‡§ú ‡§™‡•Ç‡§ú ‡§ï‡§∞ ‡§™‡§§‡•ç‡§•‡§∞ ‡§ï‡§∞ ‡§°‡§æ‡§≤‡§æ ; ‡§µ‡•á ‡§ú‡•ã ‡§π...","Mumbai, India"
3,Shah Rukh Khan,iamsrk,40028019,77,True,None,None
4,PMO India,PMOIndia,34461808,486,True,Office of the Prime Minister of India,India
5,Hrithik Roshan,iHrithik,28170371,90,True,Man on mission- to live the best life possible...,None
6,Arvind Kejriwal,ArvindKejriwal,18339248,221,True,"‡§∏‡§¨ ‡§á‡§Ç‡§∏‡§æ‡§® ‡§¨‡§∞‡§æ‡§¨‡§∞ ‡§π‡•à‡§Ç, ‡§ö‡§æ‡§π‡•á ‡§µ‡•ã ‡§ï‡§ø‡§∏‡•Ä ‡§ß‡§∞‡•ç‡§Æ ‡§Ø‡§æ ‡§ú‡§æ‡§§‡§ø ...",India
7,TIME,TIME,17057740,494,True,Breaking news and current events from around t...,None
8,detikcom,detikcom,15928348,28,True,Official Twitter of http://www.detik.com. reda...,"Jakarta, Indonesia"
9,J.K. Rowling,jk_rowling,14608181,721,True,Writer sometimes known as Robert Galbraith,Scotland

In [83]:
# Record start time
start_time = time.time()

# Call the function
top_users_df = get_top_data("users")

# Record end time
end_time = time.time()

# Calculate elapsed time
elapsed_time = end_time - start_time
elapsed_time

0.031141042709350586

### search_by_tweet

In [8]:
c1.create_index([("text", "text")])

'text_text'

In [11]:
def search_by_tweet(tweet_str=None,fromDate=None,toDate=None):
    try:
        if tweet_str:
            pipeline = [
                {
                    "$match": {
                        "$text": {"$search": tweet_str}
                    }
                },
                {
                    "$project": {
                        "relevance_score": {"$meta": "textScore"}, 
                        "text": 1, 
                        "user_id": 1,
                        "created_at":1
                    }
                },
                {
                    "$sort": {"relevance_score": {"$meta": "textScore"}}
                }
            ]
            db_final = pd.DataFrame(list(c1.aggregate(pipeline)))
            db_final['created_at'] = df['created_at'].apply(lambda x: datetime.utcfromtimestamp(int(x) / 1000))
            print('hi')
            if toDate:
                toDate1= datetime.strptime(toDate, "%Y-%m-%d")
                fromDate1=datetime.strptime(fromDate,"%Y-%m-%d")
                db_final = db_final.loc[(db_final['created_at'] >= fromDate1) & (db_final['created_at'] <= toDate1)]
            for index, row in db_final.iterrows():
                user_id = row['user_id']
                cur.execute(f"""SELECT screen_name FROM users WHERE id_str = '{user_id}'""")
                user_data = cur.fetchone()
                if user_data:
                    user_info = list(user_data)
                    db_final.loc[index, 'screen_name'] = user_info[0]
            
            return db_final.drop(['_id','user_id','relevance_score'],axis=1)
    except Exception as e:
        print(f"Retrieval of Tweet from hashtags failed : {e}")

In [12]:
def search_by_tweet(tweet_str=None, fromDate=None, toDate=None):
    try:
        if tweet_str:
            pipeline = [
                {
                    "$match": {
                        "$text": {"$search": tweet_str}
                    }
                },
                {
                    "$project": {
                        "id_str":1,
                        "relevance_score": {"$meta": "textScore"}, 
                        "text": 1, 
                        "retweet_count":1,
                        "user_id": 1,
                        "created_at":1
                    }
                }
            ]
            db_final = pd.DataFrame(list(c1.aggregate(pipeline,allowDiskUse=True)))
            # Filter by date if toDate and fromDate are provided
            if toDate and fromDate:
                # Convert 'created_at' to datetime objects
                db_final['created_at'] = db_final['created_at'].apply(lambda x: datetime.utcfromtimestamp(int(x) / 1000))
                toDate1 = datetime.strptime(toDate, "%Y-%m-%d")
                fromDate1 = datetime.strptime(fromDate, "%Y-%m-%d")
                db_final = db_final.loc[(db_final['created_at'] >= fromDate1) & (db_final['created_at'] <= toDate1)]

            # Fetch user information and add to DataFrame
            for index, row in db_final.iterrows():
                user_id = row['user_id']
                cur.execute(f"""SELECT screen_name FROM users WHERE id_str = '{user_id}'""")
                user_data = cur.fetchone()
                if user_data:
                    user_info = list(user_data)
                    db_final.loc[index, 'screen_name'] = user_info[0]

            # Drop unnecessary columns
            db_final = db_final.drop(['_id', 'user_id'], axis=1).sort_values(by='relevance_score',ascending=False)

            return db_final

    except Exception as e:
        print(f"Retrieval of Tweet from hashtags failed : {e}")

In [13]:
fromDate= "2020-01-01"
toDate="2020-12-31"
tweet_str="corona"
a=search_by_tweet(tweet_str,fromDate,toDate)
a

,created_at,id_str,text,retweet_count,relevance_score,screen_name
11052,2020-04-25 13:06:12,1254033974411886592,corona corona corona corona corona corona coro...,0,1.689002,ColdHallow
11570,2020-04-25 12:22:32,1254022981459689472,@dustyybear CORONA CORONA DADAR CORONA,0,1.400000,nan
6631,2020-04-25 14:37:43,1254057001245532160,Me: mak kau corona mak kau corona mak kau coro...,0,1.312500,shafiq_rosli12
18137,2020-04-25 14:21:14,1254052856891494400,#FightCoronaNotActivists\nFight Corona not jou...,20,1.271484,sanshar3
5669,2020-04-25 14:21:14,1254052856891494400,#FightCoronaNotActivists\nFight Corona not jou...,0,1.271484,sanshar3
...,...,...,...,...,...,...
29735,2020-04-25 13:35:25,1254041325550403584,@jokowi @setkabgoid @KemenkesRI @KemenkeuRI @k...,0,0.505319,SmartCitizen40
31819,2020-04-25 12:44:50,1254028595145707520,@ganisrumpoko @dewantirumpoko @Eddy_rumpoko @j...,0,0.505319,SmartCitizen40
15721,2020-04-25 12:44:55,1254028615580336128,@jokowi @KemenkesRI @Menlu_RI @kaesangp @basuk...,0,0.505319,SmartCitizen40
31697,2020-04-25 12:44:43,1254028565970137088,@jokowi @KemenkesRI @Menlu_RI @kaesangp @basuk...,0,0.505319,SmartCitizen40
14122,2020-04-25 13:04:15,1254033480268361728,@realDonaldTrump @POTUS @FLOTUS @VP @IvankaTru...,0,0.505319,SmartCitizen40

In [60]:
c2.create_index([("org_tweet_id", 1)])

'org_tweet_id_1'

### search_retweets

In [14]:
def search_retweets(tweet_id):
    try:
        if tweet_id:
            pipeline = [
                {
                    "$match": {
                        "org_tweet_id": tweet_id
                    }
                },
                {
                    "$project": {
                        "id_str":1,
                        "user_id": 1,
                        "created_at":1
                    }
                }
            ]
            db_final = pd.DataFrame(list(c2.aggregate(pipeline)))
            # Fetch user information and add to DataFrame
            for index, row in db_final.iterrows():
                user_id = row['user_id']
                cur.execute(f"""SELECT screen_name FROM users WHERE id_str = '{user_id}'""")
                user_data = cur.fetchone()
                if user_data:
                    user_info = list(user_data)
                    db_final.loc[index, 'screen_name'] = user_info[0]

            # Drop unnecessary columns
            db_final = db_final.drop(['_id', 'user_id'], axis=1)
            return db_final

    except Exception as e:
        print(f"Retrieval of Tweet from hashtags failed : {e}")

In [15]:
tweet_id='1254052856891494400'
df=search_retweets(tweet_id)
df

                 id_str     created_at      screen_name
0   1254053161402163202  1587824547000  kavita_krishnan
1   1254053293233504262  1587824578000    _idontwannabe
2   1254053364888821760  1587824596000       aishmishra
3   1254053385034010624  1587824600000          zid1088
4   1254053589682737153  1587824649000          Rpapcee
5   1254053619776643072  1587824656000       forkashmir
6   1254053626785476608  1587824658000  RupeshR25506368
7   1254053756016066561  1587824689000    kaajalActress
8   1254054268073652225  1587824811000  sarcastic87neil
9   1254054695104110593  1587824913000  Sameera24661730
10  1254055473034088450  1587825098000          hit33sh
11  1254055703301328897  1587825153000     Salman_Azmi5
12  1254056277862465538  1587825290000      joyfunniest
13  1254057050746863617  1587825474000    tresa_william
14  1254057481166376960  1587825577000       pka_khadar
15  1254058548431974401  1587825831000       88Indian88
16  1254058588345004034  1587825841000    dolphy_prince
17  1254058866473496576  1587825907000  Mohamma24216323
18  1254059449569820673  1587826046000  Nothingmatter26

In [21]:
def search_by_user(user_id=None):
    try:
        if user_id:
            pipeline = [
                {
                    "$match": {
                        "user_id":user_id
                    }
                },
                {
                    "$project": {
                        "_id":0,
                        "id_str": 1,
                        "retweet_count": 1,
                        "text": 1
                    }
                },
            ]
            db_final1 = pd.DataFrame(list(c1.aggregate(pipeline)))
            db_final2 = pd.DataFrame(list(c2.aggregate(pipeline)))
            merged_df = pd.concat([db_final1, db_final2], ignore_index=True)
            return merged_df
    except Exception as e:
        print(f"Retrieval of Tweet from hashtags failed : {e}")

In [22]:
user_id="1206650133976408064"
df=search_by_user(user_id)
df

,id_str,text,retweet_count
0,1252576316135739392,@ozkan_yalim @DurmusYillmaz \nA√ßƒ±k kapalƒ± g√∂r√º...,72
1,1254022772877131777,RT @schrodingerk42: @ozkan_yalim @DurmusYillma...,0

In [78]:
def search_by_user_name(user_name=None):
    try:
        cur.execute(f"""SELECT id_str,name,screen_name,verified,followers_count,friends_count FROM users WHERE (name LIKE '%{user_name}%') OR (screen_name LIKE '%{user_name}%')""")
        user_data=cur.fetchall()
        columns = [desc[0] for desc in cur.description]
        df = pd.DataFrame(user_data, columns=columns)
        return df
    except Exception as e:
        print(f"Retrieval of Tweet from username failed : {e}")

In [82]:
df=search_by_user_name('benjamin')
df

,id_str,name,screen_name,verified,followers_count,friends_count
0,1651093638,Benjamin Kent,benjaminkent83,False,232,849
1,817988240170946560,Benjamin Bhuvanesh,benjaminbb17,False,206,211
2,1253597458791370752,Silvaben,Eronnabenjamin,False,3,17
3,254347241,Ben Campos,benjamincmps,False,178,96
4,1218462639136870401,Benjaminüá´üá∑üá¨üáß,benjamin_from,False,43,249
5,296700235,France benjamin,flux_vintage,False,705,527
6,77746436,Benjamin Wand,benjaminwand,False,220,181
7,1200278852418686976,benjaminr,FrogArsin,False,204,99
8,1022856535414906880,benjamin.walder,WalderBenjamin,False,78,211

In [35]:
def search_by_hashtag(hashtags, toDate=None, fromDate=None):
    hashtags_list = [re.escape(tag.lower()) for tag in hashtags.split('#') if tag.strip()]
    try :

        pipeline = [
            {
                "$match": {
                    "hashtags.text": {"$in": hashtags_list}
                }
            },
            {
                "$project": {
                    "_id": 1,
                    "retweet_count": 1,
                    "text": 1,
                    "created_at":1
                }
            },
            {
                "$sort": {"retweet_count": -1}
            }
        ]
        db_final = pd.DataFrame(list(c1.aggregate(pipeline)))
        if toDate and fromDate:
                # Convert 'created_at' to datetime objects
                db_final['created_at'] = db_final['created_at'].apply(lambda x: datetime.utcfromtimestamp(int(x) / 1000))
                toDate1 = datetime.strptime(toDate, "%Y-%m-%d")
                fromDate1 = datetime.strptime(fromDate, "%Y-%m-%d")
                db_final = db_final.loc[(db_final['created_at'] >= fromDate1) & (db_final['created_at'] <= toDate1)]
        return db_final
    except Exception as e:
        print(f"Retrieval of Tweet from hashtags failed : {e}")

In [36]:
fromDate= "2020-01-01"
toDate="2020-12-31"
hashtags="#COVID2019#CORONA"
df=search_by_hashtag(hashtags,toDate,fromDate)
df

,_id,created_at,text,retweet_count
0,6621772656ed1f3a3b6f873a,2020-04-19 18:53:19,Happening Now in San Diego in response to clos...,4606
1,6621772656ed1f3a3b6fa497,2020-04-24 16:08:33,Trump owes tens of millions to the Bank of Chi...,3609
2,6621772656ed1f3a3b6f8578,2020-04-13 14:10:45,Mob boss asks his crew if that guy who likes s...,3128
3,6621772656ed1f3a3b6f7ee2,2020-02-22 16:09:59,#coronavirus #corona \n#koronavirus #korona \n...,2892
4,6621772656ed1f3a3b6f7276,2020-04-04 11:32:37,Who is handling the state better in #Corona ep...,2793
...,...,...,...,...
3157,6621772656ed1f3a3b70451f,2020-04-25 14:48:21,‡Æö‡Æ™‡Ææ‡Æ∑‡Øçüòéüî•üî•\n\n#Corona #lockdown #coronatamilnadu...,0
3158,6621772656ed1f3a3b70452e,2020-04-25 14:48:24,Traurige Nachrichten aus Mannheim.\n@svw07 #co...,0
3159,6621772656ed1f3a3b704540,2020-04-25 14:48:27,Sind jetzt alle ein bisschen #Corona? Jetzt st...,0
3160,6621772656ed1f3a3b704546,2020-04-25 14:48:28,Is er ook een vorm van #Corona wat de hersenen...,0
3161,6621772656ed1f3a3b704577,2020-04-25 14:48:37,We have 1/4 of all deaths from #Corona - thank...,0

def get_top_data(data_type):
    try:
        if data_type == "users":
            cur.execute(f"""SELECT name, screen_name, followers_count, friends_count, verified, description, location FROM users ORDER BY followers_count DESC LIMIT 10""")
            user_data = cur.fetchall()
            df = pd.DataFrame(user_data, columns=['name', 'screen_name', 'followers_count', 'friends_count', 'verified', 'description', 'location'])      
            return df
        elif data_type == "tweets":
            tweets = c1.find({}, {"text": 1, "user_id_str": 1, '_id': 0}).sort("retweet_count", -1).limit(10)
            db_final = pd.DataFrame(list(tweets))
            
            for index, row in db_final.iterrows():
                user_id = row['user_id_str'].strip()
                cur.execute(f"""SELECT screen_name FROM users1 WHERE id_str = '{user_id}'""")
                user_data = cur.fetchone()

                if user_data:
                    user_info = list(user_data)
                    db_final.loc[index, 'screen_name'] = user_info[0]
                    
            return db_final.drop('user_id_str',axis=1)
        else:
            print("Invalid data type")
            return None
    except Exception as e:
        print(f"Retrieval of data failed: {e}")